.drink-item {
  width: 100%;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}
.drink-item-image {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}
.drink-item-info {
  padding: 15px;
}
.drink-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.drink-item-name-rating p {
  font-size: 16px;
  font-weight: 500;
}
.drink-item-name-rating img {
  width: 50px;
}
.drink-item-desc {
  color: #676767;
  font-size: 11px;
}
.drink-item-price {
  color: tomato;
  font-size: 18px;
  font-weight: 500;
  margin: 8px 0px;
}
.drink-item-img-container {
  position: relative;
}

.drink-item-img-container .add {
  width: 28px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  border-radius: 50%;
}

.drink-item-counter {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  border-radius: 50px;
  background-color: #fff;
}
.drink-item-counter img {
  width: 24px;
  cursor: pointer;
}
