.drink-display {
  margin-top: 30px;
}
.drink-display h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
}
.drink-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
